<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Shop - Admin</title>
  </head>
  <body>
    <h1>NodeShop</h1>

    <nav>
      <a href="/"><li>Home</li></a>
      <a href="/admin"><li>Admin</li></a>
      <a href="/user"><li>User</li></a>
    </nav>

    <h3>Admin page</h3>

    <form action="/admin/add-product" method="POST">
      <input type="text" name="product" placeholder="Product title" />
      <button>Submit</button>
    </form>
  </body>
</html>
