<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Shop</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
  </head>
  <body>
    <header>
      <h1 class="header__title" onclick="location.href='/'">Node Shop</h1>
      <nav>
        <a class="nav__item" href="/"
          ><li class="nav__item-list active">Home</li></a
        >
        <a class="nav__item" href="/admin"
          ><li class="nav__item-list">Admin</li></a
        >
        <a class="nav__item" href="/user"
          ><li class="nav__item-list">User</li></a
        >
      </nav>
    </header>
    <main>
      <h3>This is Node Shop <br />Welcome</h3>
    </main>
  </body>
</html>
