<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node Shop</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/user.css" />
  </head>
  <body>
    <header>
      <h1 class="header__title" onclick="location.href='/'">Node Shop</h1>
      <nav>
        <a class="nav__item" href="/"><li class="nav__item-list">Home</li></a>
        <a class="nav__item" href="/admin"
          ><li class="nav__item-list">Admin</li></a
        >
        <a class="nav__item" href="/user"
          ><li class="nav__item-list active">User</li></a
        >
      </nav>
    </header>
    <main>
      <h3>This is Node Shop <br />Welcome</h3>
      <div class="products">
        <%products.forEach(product => {%>
        <div class="card product-item">
          <h1 class="product__title"><%= product.title %></h1>
          <div class="card__image">
            <img
              src="https://s26162.pcdn.co/wp-content/uploads/sites/2/2022/08/Books.jpg"
              alt=""
            />
          </div>
          <div class="product__content">
            <h2 class="product__price">$5.99</h2>
            <p class="product__description">Nice book Btw</p>
          </div>
          <div class="product__action">
            <button class="btn">Add to cart</button>
          </div>
        </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
