<header>
  <h1 class="header__title" onclick="location.href='/'">Node Shop</h1>
  <nav>
    <a class="nav__item" href="/product-list"
      ><li
        class="nav__item-list <%= path === '/product-list' ? 'active' : '' %>"
      >
        Product list
      </li></a
    >

    <a class="nav__item" href="/cart"
      ><li class="nav__item-list <%= path === '/cart' ? 'active' : '' %>">
        Cart
      </li></a
    >

    <a class="nav__item" href="/admin/add-product"
      ><li
        class="nav__item-list <%= path === '/admin/add-product' ? 'active' : '' %>"
      >
        Add Products
      </li></a
    >
    <a class="nav__item" href="/admin/products"
      ><li
        class="nav__item-list <%= path === '/admin/products' ? 'active' : '' %>"
      >
        Admin Products
      </li></a
    >
  </nav>
</header>
